@charset "utf-8";
// date：2019-01-07 ,
// author: Hexiyang ,
// author-blog: http://hexiyang.cn
.article-list {
  width: 96%;
  height: 100%;
  padding: 0 2%;
  height: 100%;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
