@charset "utf-8";
// date：2019-01-07 ,
// author: Hexiyang ,
// author-blog: http://hexiyang.cn
.institutions {
  .list {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .item {
    padding: 2% 3%;
    margin-top: 20px;
    background-color: white;

    .title {
      width: 90%;
      display: block;
      padding-bottom: 2%;
      border-bottom: 1px solid #f2f2f2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .content {
      padding-top: 2%;
      font-size: 34px;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .content-desc {
      color: #888;
      font-size: 26px;
      padding-top: 2%;
      line-height: 1.6;
      text-align: justify;
    }
  }
}
